.login-buttons {
  margin: 3%;
  display: flex;
  color: white;
}


#register-button,
#signout-button {
  width: 120px;
  height: 40px;
  background-color: rgb(143, 19, 19);
  color: white;
  border-radius: 25px;
  border-color: rgb(143, 19, 19);
  outline: none;
}

#register-button:hover,
#signout-button:hover {
  background-color: aliceblue;
  border-color: aliceblue;
  color: rgb(143, 19, 19);
  font-weight: bold;
}

#login-button,
#dashboard-button {
  width: 150px;
  height: 40px;
  margin-right: 5%;
  background-color: rgb(21, 21, 121);
  color: white;
  border-radius: 25px;
  border-color: rgb(21, 21, 121);
  outline: none;
}

#login-button:hover,
#dashboard-button:hover {
  background-color: aliceblue;
  border-color: aliceblue;
  color: rgb(21, 21, 121);
  font-weight: bold;
}
